.classpath.txt
target
.classpath
.project
.idea
.vscode
*.iml

# CDK asset staging directory
.cdk.staging
cdk.out


.DS_Store
*.swp
local
.dbeaver*
**/*.log
.directory
venv/
.cache
dependency-reduced-pom.xml
pom.xml.versionsBackup
~*
*.lock
*.bak
*.orig
*.old
*.md.html